{% extends 'base.html' %}

{% block head %}
 <script type="text/javascript">
    var myApp = angular.module('myApp', ['ngResource'])
    myApp.factory("User", function($resource) {
        return $resource("/api/users/:Id", { Id: "@Id"}, {
          "update": {method:"PUT"},
          "query": { method:"GET", isArray: true, transformResponse: function(data) { return angular.fromJson(data).objects; } }
        });
    });
    myApp.controller('MyController', function($scope, $http, $resource, User) {
      var users = User.query(function() {
        $scope.users = users;
      });
      
      $scope.addUser = function() {
        u = new User()
        u.username = $scope.newUser.username
        u.fullname = $scope.newUser.fullname
        u.$save(function(data) {
          console.log(data);
          $scope.users.push(data);
          console.log($scope.users);
        });
        
        
      }
    });
  </script>
{% endblock %}

{% block body %}
<div ng-app="myApp" ng-controller="MyController">
<h1 class="page-header">Users</h1>
  {% raw %}
  <ol>
    <li ng-repeat="user in users">{{ user.fullname }} ({{ user.username }})</li>
  </ol>
  <form ng-submit="addUser()">
    <label>Username</label>
    <input type="text" ng-model="newUser.username">
    <label>Full name</label>
    <input type="text" ng-model="newUser.fullname">
    <button class="btn">Add User</button>
  </form>
  {% endraw %}
</div>
{% endblock %}